body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    
}
.navbar ul{
    list-style-type: none;
    background-color:white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: whitesmoke;
}
.navbar li{
    float: left;
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}
.header{
    height: 110px;
    border-bottom: 1px solid #000;
}
.mirim_logo {
    text-align: left;
    margin: 20px;;
}
.header_logo {
    text-align: center;
}