.button {
    display :inline-block;
    background-color: white;
    color: #000;
    border: solid #000 0.5px;
    width: 169px;
    height: 43px;
    margin-left: -1px;
    margin-bottom: -0.1px;
    cursor: pointer;
  }
  
  .button.active {
    border-color: #000000; /* 비활성화된 버튼의 선 색 (검은색) */
    color: #000000; /* 비활성화된 버튼의 폰트 색 (검은색) */

  }
  
  .button:not(.active) {
    border-color: #808080; /* 활성화된 버튼의 선 색 (회색) */
    color: #808080; /* 활성화된 버튼의 폰트 색 (회색) */s

}